<div class="container col-10 mt-3 mb-3">
	<%= render partial: 'users/form', locals: { url: users_path, button_text: "idyをはじめる！", item: ["nickname", "username", "email", "password", "password-confirmination"], user: user } %>
</div>
