<% provide(:title, "Setting") %>
<% provide(:button_text, "Save") %>
<h1>Setting</h1>

<%= render "users/form" %>

<%= link_to("メールアドレス変更", "/edit_email/#{@user.user_name}") %>
<br>
<%= link_to("パスワードを変更する", "#") %>
<br>
<%= button_to("Log Out", logout_path, method: :post) %>
