<% provide(:title, "メール認証画面") %>
<h1>メールアドレス認証</h1>

<p>以下のメールアドレスに認証メールを送信しました。</p>
<p><%= @user.email %></p>
<p>メール内の認証リンクにアクセスすると、メールアドレスの認証が完了します</p>
<%= link_to("認証メールをもう一度送信する", send_email_again_path(email: @user.email)) %>
