/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$yellow: #e4aa00;


body {

// .header-padding {
// 	padding: 50px;
// }

.bg-yellow {
	background-color: $yellow;
	&:hover {
		background-color: $yellow;
	}
}

.text-yellow {
	color: $yellow;
	&:hover {
		color: $yellow;
	}
}

.a-yellow {
	color: $yellow;
	cursor: pointer;
	&:hover {
		color: $yellow;
		text-decoration: underline;
	}
}

.hover-underline {
	&:hover {
		color:$yellow;
		text-decoration: underline;
	}
}

.btn-yellow {
	color: white;
	background-color: $yellow;
	&:hover {
		color: white;
		background-color: $yellow;
	}
}

.btn-yellow-outline {
	color: $yellow;
	background-color: white;
	border-color: $yellow;
	&:hover {
		color: $yellow;
		background-color: white;
		border-color: $yellow;
	}
}

.bold {
	font-weight: bold;
}

.header-margin {
	margin-top: 58px;
	@media screen and (max-width: 960px) {
		margin-top: 46px;
	}
}

.profile-icon {
	width: 150px;
	height: 150px;
	border-radius: 100%;
	object-fit: cover;
}

.small-icon {
	width: 50px;
	height: 50px;
}

.nav {
	.nav-item {
		.active {
			color: black;
			border-color: black;
		}
	}
}

}