<footer class="bg-dark text-center text-white fixed-bottom">
  <div class="d-flex align-items-center justify-content-center p-3">
    <p class="m-0 me-4"><a href="#" class="a-yellow"><i class="fas fa-envelope"></i> Contact</a></p>
    <p class="m-0 me-4"><a href="#" class="a-yellow"><i class="fab fa-github"></i> GitHub</a></p>
    <p class="text-white m-0">© 2020 Copyright: idy</p>
  </div>
</footer>
